@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.montserrat {
    font-family: "Montserrat", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}




/* Text Animation Section */

.text-animation-section {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-text-container {
    width: 1160px;
    max-width: 90%;
    margin: 0 auto;
    padding: 40px 20px;
    line-height: 150%;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: left;
}

.word-span {
    display: inline;
    color: #c0c0c0;
    transition: color 0.15s ease;
}

.word-span.active {
    color: #000000;
}

.animated-paragraph {
    margin-bottom: 32px;
}

.animated-paragraph:last-child {
    margin-bottom: 0;
}



@media (max-width: 768px) {

    .text-animation-section {
        padding: 60px 0;
    }

    .scroll-text-container {
        width: 355px;
        max-width: 100%;
        margin: 0 auto;
        padding: 30px 20px;
        line-height: 150%;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -0.1px;
    }

    .word-span {
        transition: color 0.1s ease;
    }

}

/* Scrollbar hiding utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}